# 1 Pandas Tutotrial

**How to install libraries**

In [5]:
#pip install pandas
#pip install numpy

- Import Libraries

In [6]:
import pandas as pd
import numpy as np

In [8]:
# object creation
s =  pd.Series([1,2,3,4,5, np.nan,6,7,8,9])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [11]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.659817 -0.887632 -1.403388 -1.409059
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252
2013-01-03 -0.268338  0.733790  0.416169 -0.561290
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382
2013-01-05  0.307502 -0.684753  1.343476 -0.747773
2013-01-06  0.249283  0.433139  0.621966 -0.170990

In [15]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220102"),
        "C": pd.Series(1, index = list(range(4)), dtype= "float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["girl", "woman", "girl", "woaman"]),
        "F": "foo",
    }
)
df2

     A          B    C  D       E    F
0  1.0 2022-01-02  1.0  3    girl  foo
1  1.0 2022-01-02  1.0  3   woman  foo
2  1.0 2022-01-02  1.0  3    girl  foo
3  1.0 2022-01-02  1.0  3  woaman  foo

In [16]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [18]:
df.head(3)

                   A         B         C         D
2013-01-01  0.659817 -0.887632 -1.403388 -1.409059
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252
2013-01-03 -0.268338  0.733790  0.416169 -0.561290

In [19]:
df.tail(4)

                   A         B         C         D
2013-01-03 -0.268338  0.733790  0.416169 -0.561290
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382
2013-01-05  0.307502 -0.684753  1.343476 -0.747773
2013-01-06  0.249283  0.433139  0.621966 -0.170990

In [21]:
df2.index

Index([0, 1, 2, 3], dtype='int64')

In [22]:
df.to_numpy()

array([[ 0.65981744, -0.88763204, -1.40338803, -1.4090593 ],
       [-0.3787627 , -0.88012132,  0.0599854 , -2.01425193],
       [-0.26833846,  0.73379006,  0.41616935, -0.56128994],
       [ 0.31905395, -0.1216759 , -0.10831987, -0.96938157],
       [ 0.30750161, -0.68475331,  1.34347585, -0.74777293],
       [ 0.24928305,  0.43313868,  0.62196582, -0.17099001]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.148092 -0.234542  0.154981 -0.978791
std    0.394394  0.698884  0.917135  0.653853
min   -0.378763 -0.887632 -1.403388 -2.014252
25%   -0.138933 -0.831279 -0.066244 -1.299140
50%    0.278392 -0.403215  0.238077 -0.858577
75%    0.316166  0.294435  0.570517 -0.607911
max    0.659817  0.733790  1.343476 -0.170990

In [25]:
# transpose
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.659817   -0.378763   -0.268338    0.319054    0.307502    0.249283
B   -0.887632   -0.880121    0.733790   -0.121676   -0.684753    0.433139
C   -1.403388    0.059985    0.416169   -0.108320    1.343476    0.621966
D   -1.409059   -2.014252   -0.561290   -0.969382   -0.747773   -0.170990

In [29]:
df.sort_index(axis = 1, ascending= True)

                   A         B         C         D
2013-01-01  0.659817 -0.887632 -1.403388 -1.409059
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252
2013-01-03 -0.268338  0.733790  0.416169 -0.561290
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382
2013-01-05  0.307502 -0.684753  1.343476 -0.747773
2013-01-06  0.249283  0.433139  0.621966 -0.170990

In [34]:
df.sort_values(by ="B", ascending= False)

                   A         B         C         D
2013-01-03 -0.268338  0.733790  0.416169 -0.561290
2013-01-06  0.249283  0.433139  0.621966 -0.170990
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382
2013-01-05  0.307502 -0.684753  1.343476 -0.747773
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252
2013-01-01  0.659817 -0.887632 -1.403388 -1.409059

In [35]:
df["A"]

2013-01-01    0.659817
2013-01-02   -0.378763
2013-01-03   -0.268338
2013-01-04    0.319054
2013-01-05    0.307502
2013-01-06    0.249283
Freq: D, Name: A, dtype: float64

In [37]:
df[1:4]

                   A         B         C         D
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252
2013-01-03 -0.268338  0.733790  0.416169 -0.561290
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382

In [39]:
df.loc[dates[3]]

A    0.319054
B   -0.121676
C   -0.108320
D   -0.969382
Name: 2013-01-04 00:00:00, dtype: float64

In [40]:
df.loc["20130101":"20130104",["A","B"]]

                   A         B
2013-01-01  0.659817 -0.887632
2013-01-02 -0.378763 -0.880121
2013-01-03 -0.268338  0.733790
2013-01-04  0.319054 -0.121676

In [42]:
df.at[dates[3],"A"]

0.31905395086535826

In [47]:
df2 = df.copy()
df2

                   A         B         C         D
2013-01-01  0.659817 -0.887632 -1.403388 -1.409059
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252
2013-01-03 -0.268338  0.733790  0.416169 -0.561290
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382
2013-01-05  0.307502 -0.684753  1.343476 -0.747773
2013-01-06  0.249283  0.433139  0.621966 -0.170990

In [48]:
df2["New"] = [1,2,3,4,5,6]
df2

                   A         B         C         D  New
2013-01-01  0.659817 -0.887632 -1.403388 -1.409059    1
2013-01-02 -0.378763 -0.880121  0.059985 -2.014252    2
2013-01-03 -0.268338  0.733790  0.416169 -0.561290    3
2013-01-04  0.319054 -0.121676 -0.108320 -0.969382    4
2013-01-05  0.307502 -0.684753  1.343476 -0.747773    5
2013-01-06  0.249283  0.433139  0.621966 -0.170990    6

In [49]:
df2.mean()

A      0.148092
B     -0.234542
C      0.154981
D     -0.978791
New    3.500000
dtype: float64