# Python Basics
#### **01 First Code**

In [2]:
print("Learning Python with Abdullah")

Learning Python with Abdullah

#### **02 Operators**

In [6]:
#OPERATORS
print(2+3)
print(3-1)
print(6/2)   #if you require value in float
print(13%2)
print(2*2)
print(6//2)  #if you require value in whole number
print(3**2)  #POWER
print(3**2*3/3+6-4) #PEMDAS

5
2
3.0
1
4
3
9
11.0

*(Multiply, divide) (addition,subtraction) first come first serve from left to right*

#### **03 Strings**

In [11]:
#STRINGS
print('Test for single quote')
print("Test for double quote")
print('''test for triple quote''')

# print('what's up)     (problem with single quote)
print("what's up")     #(problem solved)

Test for single quote
Test for double quote
test for triple quote
what's up

#### **04 Comments**

In [16]:
print("hello")             #select the line and press cntrl+/ to comment
print("How are you?")      #you can use '#' at the start to comment

hello
How are you?

#### **05 Variables** 

*VARIABLES: objects containing specific values*

In [23]:
x = 5       #numeric or integer varaible
print(x)

y = "you are learning python with Abdullah"     #string variable
print(y)

x = x+10
print(x)

#Types of varibales
print(type(x))
print(type(y))

fruit_basket = 8
fruit_basket = "mangoes","oranges"
print(fruit_basket)
print(type(fruit_basket))

5
you are learning python with Abdullah
15
<class 'int'>
<class 'str'>
('mangoes', 'oranges')
<class 'tuple'>

#### Rules to assign a variable
 *1  The variable should contain letters, underscores or numbers* <br>
 *2  The variable should not start with a number* <br>
 *3  The variable should not contain spaces* <br>
 *4  The variable should not contain special characters* <br>
 *5  The variable should not be a keyword in python* <br>
 *6  The variable should not be a reserved word in python* <br>

#### **06 Input Variables**

In [33]:
fruit_basket = "mangoes"
print(fruit_basket)

#input function
fruit_basket = input("Enter your favorite fruit: ")
print(fruit_basket)

#input function of 2nd stage
name = input("What is your name? ")
greetings = "Hello"
print(greetings,name)

#another way of 2nd stage
name = input("What is your name? ")
print("Hello",name)

#3rd Stage input function
name = input("What is your name? ")
age =input("How old are you? ")
greetings = "HELLO!"
print(greetings, name, ", you're still young")

mangoes

Enter your favorite fruit:  Apple

Apple

What is your name?  Abdullah

Hello Abdullah

What is your name?  Ali

Hello Ali

What is your name?  Ahmad
How old are you?  22

HELLO! Ahmad , you're still young

#### **07 Conditional Logic**
##### *LOGICAL OPERATORS (Either true/false, 0/1, yes/no)*
 *equal to              ==* <br>
 *not equal to          !=* <br>
 *less than             <* <br>
 *less than equal to    <=* <br>
 *greater than          >* <br>
 *greater than equal to >=* <br>

In [39]:
print(4==4)
print(4!=4)
print(4<5)
print(4<=5)
print(4>5)
print(4>=5)

#Applications of logical operators
ali_age = 4
min_age_at_school = 5
print(ali_age == min_age_at_school)

#Input operator and logical
min_age_at_school = 5
ali_age = int(input("Enter your age: ")) #int is used to make types of variable same
print(ali_age == min_age_at_school)

True
False
True
True
False
False
False

Enter your age:  4

False

#### **08 Type Conversion**

In [43]:
x = 10      #integer
y = 10.2    #float
z = "Hello" #string

#Implicit type conversion
x = x*y     #int*float = float
print(x," type of x is ",type(x))

#Explicit type conversion
age = input("What's your age? ")
print(type(age))
age = int (age)
print (age, "type of age is ",type(age))

102.0  type of x is  <class 'float'>

What's your age?  23

<class 'str'>
23 type of age is  <class 'int'>

#### **09 If else elif**

In [49]:
required_age_at_school = 5
ali_age = 10

#question: can ali go to school
if ali_age == required_age_at_school:
    print("Ali can go to school")
elif ali_age>required_age_at_school:
    print("Ali should go to higher secondary school")
else:
    print("Ali cannot go to school")

Ali should go to higher secondary school

#### **10 Functions**

In [57]:
print("Learning python")
print("Learning python")
print("Learning python")
print("Learning python")
print("Learning python")

#instead of above we'll use a function
#Method 1
def print_func():
    print("Learn python with us")
    print("Learn python with us")
    print("Learn python with us")

print_func()

#Method 2
def print_func():
    text = "we are trying the second way (edited)"
    print(text)
    print(text)
    print(text)    
    
print_func()

#Method 3
def print_func(text):
    print(text)
    print(text)
    print(text)    
    
print_func("That's the third way ")

#Defining func with if,elif statements
def school_calc(age,name):
    if age == 5:
        print(name, " can go to school")
    elif age > 5:
        print(name, " can go to higher school")
    else:
        print(name," can't go to school")

school_calc(2,"Ali")

Learning python
Learning python
Learning python
Learning python
Learning python
Learn python with us
Learn python with us
Learn python with us
we are trying the second way (edited)
we are trying the second way (edited)
we are trying the second way (edited)
That's the third way
That's the third way
That's the third way
Ali  can't go to school

#### **11 Loops**

In [61]:
#While Loop
x = 0
while(x<5):
    print(x) 
    x = x+1

#For Loop
for x in range(5,10):
    print(x)

#array
days = ["Mon", "Tue","Wed","Thurs","Fri","Sat","Sun"]
for d in days:
    if (d=="Thurs"):break   #loop stops and exists
    if (d=="Thurs"):continue#it will skip this value
    print(d)

0
1
2
3
4
5
6
7
8
9
Mon
Tue
Wed

#### **12 Important Libraries**

In [66]:
#if you want to print value of pi
import math
print("The value of pi is ",math.pi)

#for mean, median, mode etc
import statistics
x= [5,8,2,3,5,2]
print(statistics.mean(x))

#NUMPY, PANDAS

The value of pi is  3.141592653589793
4.166666666666667

#### **13 Troubleshooting**

In [69]:
#print(we are learning python with ammar) #Syntax Error

#print(25/0) #Runtime Error

name = "Ahmad"
print("Hi name") #Semantic Error

Hi name